@font-face {font-family: "Roboto Light";src: url("../fonts/Roboto-Light.ttf");}
@font-face {font-family: "Roboto Bold";src: url("../fonts/Roboto-Bold.ttf");}
@font-face {font-family: "Roboto Regular";src: url("../fonts/Roboto-Regular.ttf");}
@font-face {font-family: "Roboto Thin";src: url("../fonts/Roboto-Thin.ttf");}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
}
select::-ms-expand {
    display: none;
}
select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none!important;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color: transparent}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color: transparent}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color: transparent}
.content-block {
    width: 66.66666666666667%;
    margin: 0 auto;
}
.slide-1{background:url("../images/slide-1.jpg");background-size: cover}
.slide-2{background:url("../images/slide-2.jpg");background-size: cover}
.slide-3{background:url("../images/slide-3.jpg");background-size: cover}
.slide-4{background:url("../images/slide-4.jpg");background-size: cover}
.slide-5{background:url("../images/slide-5.jpg");background-size: cover}
.clearfix {clear: both;}
body {
    width: 100%;
}
header {
    width: 100%;
}
header .content-block {
    text-align: justify;
    text-align-last: justify;
}
.header-top-hak {
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
}
.logo {
    display: inline-block;
    border: 1px solid white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 1.953125%;
    margin-left: 2.6%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5% 0.3% 0;
}
.logo .text-1 {
    font-size: 2.4em;
    line-height: 100%;
}
.logo .line {
    display: inline-block;
    border-top: 1px solid white;
    width: 15%;
    vertical-align: top;
    margin-top: 3.5%;
}
.logo .text-2 {
    display: inline-block;
    font-size: 0.62em;
    vertical-align: top;
}
nav {
    display: inline-block;
    width: 53.515625%;
    margin-top: 4%;
}
.main-menu {
    display: inline-block;
    width: 100%;
    text-align: justify;
    text-align-last: justify;
}
.main-menu li {
    display: inline-block;
}
.main-menu .menu-hak {
    width: 100%;
    height: 0;
    visibility: hidden;
}
.main-menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 1px solid transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.main-menu a:hover {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
}
.phone-number {
    display: inline-block;
    margin-top: 3.4%;
    vertical-align: top;
    color: white;
}
.phone-number div {
    display: inline-block;
    font-family:'Roboto Bold',sans-serif;
    font-size:1.4em;
}
.lang-select-wrap {
    display: inline-block;
    width: 35px;
    margin: 3.8% 2.6% 0 1%;
    position: relative;
    vertical-align: top;
    float: right;
}
#lang, #lang option {
    border: none;
    background: none;
    color: #0d91e9;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 0.857em;
    position: relative;
    z-index: 1;
    width: 100%;
}
.lang-select-wrap .mark {
    position: absolute;
    bottom: 3px;
    right: 0;
    color: #0d91e9;
    font-size: 0.6em;
    vertical-align: top;
}
.header-slider-controls {
    width: 10%;
    margin-top: 24.5%;
    margin-left: 73.33%;
    list-style: none;
    text-align: right;
}
.control {
    display: inline-block;
    border: 0.6em solid #b1b1b1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.control:hover {
    border: 0.6em solid black;
}
.partners {
    width: 100%;
    background: url("../images/partners-background.png");
    padding: 0.5% 0;
    border-top: 1px solid #414141;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header .content-block:last-child {
    text-align: center;
}
.partners .title {
    display: inline-block;
    width: 100%;
    font-size: 1.4286em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0.3%;
}
.partners .arrow {
    display: inline-block;
    color: white;
    cursor: pointer;
    vertical-align: top;
    font-size: 4em;
}
.partners .arrow:hover {
    color: #4d72fe;
}
.partners .slider {
    display: inline-block;
    margin: 0 0.5%;
    width: 90%;
}
.visible {
    display: inline-block!important;
}
.first, .last {
    display: inline-block!important;
}
.partner {
    display: none;
    float: left;
}
.partner-1 {width: 16.670833333333333%;}
.partner-2 {width: 15.625%;}
.partner-3 {width: 19.79166666666667%;}
.partner-4 {width: 19.79166666666667%;}
.partner-5 {width: 10.9375%;}
.partner-6 {width: 15.625%;}
.partner img {width: 100%;}
.partner:last-child {margin-left: 0;}
.partner .color-image {display: none;}
.partner:hover .gray-image {display: none;}
.partner:hover .color-image {display: inline-block;}
.our-services {
    background-color: #e1e1e1;
    width: 100%;
    padding: 3.4% 0;
}
.our-services .text-1 {
    font-size: 2.7em;
    text-transform: uppercase;
    margin-bottom: 1%;
    margin-left: 5%;
}
.our-services ul {
    list-style: none;
}
.our-services .content-block>ul {
    display: table;
    width: 100%;
    margin: 0 5%;
}
.our-services .content-block>ul>li {
    display: table-cell;
    width: 36%;
}
.our-services .content-block>ul>li:nth-child(2) {width: 36%;}
.our-services .content-block>ul>li a {
    font-family: "Roboto Thin", sans-serif;
    font-size: 1.43em;
    color: #397890;
    border-bottom: 2px dotted #397890;
    text-decoration: none;
    line-height: 2.5em;
}
.our-services .content-block>ul>li a:hover {
    color: black;
    border-bottom: 2px dotted black;
}
.call-us {
    width: 100%;
    background: url("../images/form-background.jpg");
    background-size: cover;
    padding: 2% 0 2.8%;
    border-bottom: 2px solid white;
}
.call-us .title {
    display: inline-block;
    margin-left: 2.6%;
    margin-top: 8%;
    color: white;
}
.call-us .text-1 {
    font-size: 3.655em;
    text-transform: uppercase;
}
.call-us .text-2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.53em;
}
.call-us-form {
    display: inline-block;
    width: 36.71875%;
    float: right;
    vertical-align: top;
    margin-right: 5%;
}
.call-us-form .field-wrap {
    width: 100%;
}
.call-us-form input, .call-us-form textarea {
    display: block;
    width: 100%;
    margin: 1% 0;
    border: none;
    padding: 1.5% 3%;
    font-size: 0.9em;
}
.call-us-form textarea {
    padding-top: 3%;
    margin-bottom: 2%;
    resize: none;
}
#to-send {
    width: 106%;
    padding: 2% 0;
    border: 1px solid white;
    background-color: #0069af;
    cursor: pointer;
    color: white;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 1.1em;
}
.on-map {
    width: 100%;
}
footer {
    width: 100%;
    padding: 3% 0 4%;
}
footer .block {
    display: inline-block;
    width: 15%;
    float: left;
    vertical-align: top;
}
footer .block:nth-child(2), footer .block:nth-child(3) {width: 26%;padding: 0 2%;}
footer .block:nth-child(4) {width: 22%; padding-left: 3%;}

footer .title {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
}
.footer-menu .title {margin-left: 10%;}
.footer-menu li {
     margin: 8% 10%;
     text-transform: uppercase;
}
.footer-products li, .footer-projects li {
    margin: 3% 0;
}
.footer-projects li:nth-child(2){margin-top: 9%;}
.footer-contacts>ul>li {
    margin: 4% 0;
    position: relative;
}
.footer-contacts .icon {
    position: absolute;
    width: 8%;
    padding-top: 8%;
    top: 5%;
    left: -8%;
}
.footer-contacts .address-icon{width:6%;background:url("../images/icons-sprite.png");background-size: cover;}
.footer-contacts .phone-icon{width:6%;background:url("../images/icons-sprite.png") 105% 0 no-repeat;background-size: cover;}
.footer-contacts .email-icon{background:url("../images/icons-sprite.png") 55% 0;background-size: cover;}

footer ul {
    list-style: none;
}
footer ul li div, footer a {
    font-size: 0.85em;
    text-decoration: none;
    color: #5c5c5c;
}
footer a {
    font-weight: 600;
}
footer a:hover {
    color: #0069af;
}
